/Languages.aux
/Languages.log
/Languages.nav
/Languages.out
/Languages.pdf
/Languages.snm
/Languages.toc
/Languages.vrb
/Languages.synctex.gz
/Sides.synctex.gz
/RecusiveDefinitions.aux
/RecusiveDefinitions.log
/RecusiveDefinitions.nav
/RecusiveDefinitions.out
/RecusiveDefinitions.pdf
/RecusiveDefinitions.snm
/RecusiveDefinitions.synctex.gz
/RecusiveDefinitions.toc
/RecusiveDefinitions.vrb
/Slides.pdf
/RegularExpressions.aux
/RegularExpressions.log
/RegularExpressions.nav
/RegularExpressions.out
/RegularExpressions.snm
/RegularExpressions.toc
/RegularExpressions.vrb
/FiniteStateAutomata.aux
/FiniteStateAutomata.log
/FiniteStateAutomata.nav
/FiniteStateAutomata.out
/FiniteStateAutomata.snm
/FiniteStateAutomata.toc
/FiniteStateAutomata.vrb
/RegularExpressions.pdf
/RegularExpressions.synctex.gz
/FiniteStateAutomata.pdf
/FiniteStateAutomata.synctex.gz
/F2025-test01.aux
/F2025-test01.log
/document.pdf
/document.synctex.gz
/RegularLanguages.aux
/RegularLanguages.log
/RegularLanguages.nav
/RegularLanguages.out
/RegularLanguages.snm
/RegularLanguages.toc
/RegularLanguages.vrb
/ContextFreeGrammars.aux
/ContextFreeGrammars.log
/ContextFreeGrammars.nav
/ContextFreeGrammars.out
/ContextFreeGrammars.snm
/ContextFreeGrammars.toc
/ContextFreeGrammars.pdf
/ContextFreeGrammars.synctex.gz
/GrammaticalFormat.aux
/GrammaticalFormat.log
/GrammaticalFormat.nav
/GrammaticalFormat.out
/GrammaticalFormat.snm
/GrammaticalFormat.toc
/Kobus.aux
/Kobus.log
/Kobus.nav
/Kobus.out
/Kobus.snm
/Kobus.toc
/PDA.aux
/PDA.log
/PDA.nav
/PDA.out
/PDA.snm
/PDA.toc
/PDA.vrb
